.repo {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #0d1117;
  margin: auto 0;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: #238636 0px 0px 10px 0px;
}

.git svg {
  fill: #000000;
  font-size: 1.5rem;
  cursor: pointer;
}
.git svg :hover {
  fill: #238636;
}

.repo_btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #fafffa3f;
  border-radius: 5px;
  gap: 0.5rem;
}
